/*div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #b3daff;
	height: 100px;
	width: 140px;
	margin: auto;
}*/

span {
	font-size: 25px;
	color: #009999;	
}

.stripe {
	width: 600px; 
	height: 10px; 
	background-color: #99ddff;
}